{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md">
            <p>Registrate en el sistema si quieres guardar tus perfiles para que así no se borren.</p>
            <a href="/login">
                <button class="btn btn-light" type="button">
                    <svg class="bi bi-person-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
                    </svg>
                    Registrarse
                </button>
            </a>

           
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <h3> Estos han sido los resultados</h3>
                        <table class="table table-striped">
                            <tbody>
                                {% for c in canciones %}
                                    <tr>
                                        <th scope="row">{{c.nombre}}</th>
                                    </tr>
                                {% endfor %} 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
           

        </div>
    </div>
</div>


{% endblock %}  