{% extends 'base.html.twig' %}

{% block title %}Gesti贸n de la web{% endblock %}

{% block boton %}

    <a href="/logout">
        <button class="btn btn-light" type="button">
            <svg class="bi bi-person-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/>
            </svg>
            Cerrar sesi贸n
        </button>
    </a>

{% endblock %}

{% block body %}

<style>
.recuadro{
    width: 250px;
    height: 165px;
    margin: 0px 5px ;
    padding: 20px 0px 20px 0px;
    background-color: white;
    text-align: center;
    color: black;
    border: solid 1px #ccc;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.recuadro:hover {
    border: solid 1px #777;
    color: black;
}

</style>


<div class="container">
    <div class="row">
        <a href="/gestion-administradores"  class="recuadro">
            <p><b>Gestionar Administradores</b></p>  
        </a>
        <a href="/gestion-usuarios" class="recuadro">
            <p><b>Gestionar Usuarios</b></p>
        </a>
        <a href="/gestion-canciones" title="746 - Gesti贸n de atributos y stock" class="recuadro">
            <p><b>Gestionar Canciones</b></p>
        </a>
        <a href="/gestion-busqueda" title="660 - Gesti贸n de pedidos" class="recuadro">
            <p><b>Gestionar busqueda</b></p>
        </a>
        
    </div>
</div>
{% endblock %}
