{% extends 'base.html.twig' %}

{% block title %}Gesti贸n de la web{% endblock %}

{% block body %}

<style>
.recuadro{
    width: 250px;
    height: 165px;
    margin: 0px 5px ;
    padding: 20px 0px 20px 0px;
    background-color: white;
    text-align: center;
    color: black;
    border: solid 1px #ccc;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.recuadro:hover {
    border: solid 1px #777;
    color: black;
}

</style>


{% if app.session.get('quien') == 'administrador' %}
    <div class="container">
        <div class="row">
            <a href="/gestion-administradores"  class="recuadro">
                <p><b>Gestionar Administradores</b></p>  
            </a>
            <a href="/gestion-usuarios" class="recuadro">
                <p><b>Gestionar Usuarios</b></p>
            </a>
            <a href="/gestion-canciones" title="746 - Gesti贸n de atributos y stock" class="recuadro">
                <p><b>Gestionar Canciones</b></p>
            </a>
            <a href="/gestion-busqueda" title="660 - Gesti贸n de pedidos" class="recuadro">
                <p><b>Gestionar busqueda</b></p>
            </a>
            
        </div>
    </div>

{% else  %}
    <p>No eres administrador, por favor inicia sesi贸n como administrador</p>
{% endif  %}


{% endblock %}
