{% extends 'base.html.twig' %}


{% block body %}

<form id="formAddCancionPerfil" name="formAddCancionPerfil" method="POST" action="{{ path ('buscar') }}">
    
    <div class="container">
        <div class="row flexy-center">
            
            <div class="col-md-8">
                <h3> A continuacion, ¿qué canciones te gustan?</h3>
                <input class="d-none" type="text" name="perfilId" value="{{perfil.idperfiles}}"/>
                <table class="table table-striped">
                    <tbody>
                        {% for c in canciones %}
                            <tr>
                                <th scope="row">{{c.nombre}}</th>
                                <td>
                                    <input class="selectEtiqueta" type="checkbox" name="etiqueta[]" value="{{c.idEtiquetas}}"/>
                                </td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
            <div class="separador"></div>
            <div class="col-md-12">
                <input class="btn btn-light w100" type="submit" id="enviar" name="submit" value="Buscar"/>
            </div>
            <div class="separador"></div>
            <div class="separador"></div>
        </div>
    </div>
</form>

{% endblock %}  