{% extends 'base.html.twig' %}

{% block title %}Perfil de usuario{% endblock %}

{% block body %}



<div class="container">
    <div class="row flexy-center">
        <a href="/add-perfil-musical"  class="recuadro btn-light">
            <p><b>Crear perfil de gustos musicales</b></p>  
        </a>
        <a href="/editar-perfil" class="recuadro btn-light">
            <p><b>Editar perfil</b></p>
        </a>        
    </div>
</div>
<div class="separador"></div>
<div class="container">
    <div class="row flexy-center">
        {% for perfil in perfiles %}
           
            <div class="col-md-11 perfil">
                <a href="get-perfil={{perfil.idPerfiles}}"  class="recuadro-perfil">
                    <div>
                        <h2>Perfil:</h2>
                        <h4 style="padding-left:15px"><b>{{perfil.nombre}}</b></h4>
                    </div>
                </a>
            </div>
            
        {% endfor %}      
    </div>
</div>
<div class="separador"></div>

{% endblock %}
