{% extends 'base.html.twig' %}

{% block title %}Perfil de usuario{% endblock %}

{% block body %}

<style>
.recuadro{
    display: inline-block;
    width: 49%;
    height: 70px;
    margin: 0px 5px ;
    padding: 20px 0px 10px 0px;
    background-color: white;
    text-align: center;
    color: black;
    border: solid 1px #ccc;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
.recuadro:hover {
    border: solid 1px orange;
    color: black;
}

</style>


<div class="container">
    <div class="row">
        <a href="/add-perfil-musical"  class="recuadro">
            <p><b>Crear perfil de gustos musicales</b></p>  
        </a>
        <a href="/editar-perfil" class="recuadro">
            <p><b>Editar perfil</b></p>
        </a>        
    </div>
</div>

<div class="container">
    <div class="row">
        {% for perfil in perfiles %}
            
            <div class="col-md-8">
                <a href="get-perfil/{{perfil.idPerfiles}}"  class="recuadro-perfil">
                    <div>
                        <h2>Perfil: <b>{{perfil.nombre}}</b></h2>
                    </div>
                </a>
            </div>
            
        {% endfor %}      
    </div>
</div>

{% endblock %}
