{% extends 'base.html.twig' %}

{% block title %}Perfil de usuario{% endblock %}

{% block body %}



<div class="container flexy">
    <div class="row">
        <a href="/add-perfil-musical"  class="recuadro">
            <p><b>Crear perfil de gustos musicales</b></p>  
        </a>
        <a href="/editar-perfil" class="recuadro">
            <p><b>Editar perfil</b></p>
        </a>        
    </div>
</div>

<div class="container">
    <div class="row">
        {% for perfil in perfiles %}
            
            <div class="col-md-8 perfil">
                <a href="get-perfil/{{perfil.idPerfiles}}"  class="recuadro-perfil">
                    <div>
                        <h2>Perfil: <b>{{perfil.nombre}}</b></h2>
                    </div>
                </a>
            </div>
            
        {% endfor %}      
    </div>
</div>

{% endblock %}
